.main
  .main__1
    .main__1__contents
      %h1
        カーシェアを通して生まれた
        %br
        想い・感動をお届けします
  .main__2
    .main__2__title
      %h2 どちらをご利用ですか？
    .main__2__cars
      .main__2__cars__contents
        = link_to "車を探す", searches_path ,class: "main__2__cars__contents__box"
        = link_to "車を投稿する", new_car_path ,class: "main__2__cars__contents__box"
  .main__3
    .main__3__contents
      %h2 Car Sharingとは？
      %p
        個人間で車をシェアできるアプリです。
        %br まずは新規ユーザー登録から!!
    .main__3__description
      .main__3__description__box
        
        %h3 ①車を登録/検索
        = image_tag "fc5ca1884affcecbd722b0ece2cfb715_w.jpg"
        %h5 ・車を貸したい場合は車を登録
        %h5
          ・車を借りたい場合はまず条件
          %br 　を打ちこんで検索
      %h4 →
      .main__3__description__box
        %h3 ②予約確定
        = image_tag "8ccdd40fa1834f9c9358db770c640957.jpg"
        %h5
          ・借主が気になる車にリクエス
          %br 　トを送る
        %h5
          ・貸主が承認すると予約確定
      %h4 →
      .main__3__description__box
        %h3 ③車の受け渡し
        = image_tag "e1375cfed46e2e4e921aeeda99f0aaf4_w.jpg"
        %h5 ・待ち合わせ場所で車を受渡
        %h5
          ・快適なドライブを楽しんで頂
          %br 　けます
      %h4 →
      .main__3__description__box
        %h3 ④車の返却
        = image_tag "05fd64d8418df668819ba095d4ec83e5_w.jpg"
        %h5
          ・契約期間終了日に貸主に返
          %br 　して頂きます
  .main__4
    .main__4__contents
      %h1
        快適なドライブを
        %br
        ご堪能下さい