.user-show
  .user-show__box
    .user-show__box__image
      = image_tag @user.image_user.url
    %h1= @user.name
    .user-show__box__cars
      - @cars.each do |car|
        .user-show__box__cars__car-box
          .user-show__box__cars__car-box__image
            = image_tag car.images[0].image_car.url
          .user-show__box__cars__car-box__show-box
            %ul
              %li
                ¥
                = car.price
              %li
                %h1
                  = car.name
                  |
                  = car.maker
            .user-show__box__cars__car-box__show-box__show
              %h1
                = car.prefecture
                = car.city
              %h1
                期間
                = car.period
              
            .user-show__box__cars__car-box__show-box__star
              %p ★★★★★
              %h1= link_to "詳細ページへ", "/cars/#{car.id}"
            .user-show__box__cars__car-box__show-box__review-box
              %h1 レビュー
              - car.reviews.each do |review|
                .user-show__box__cars__car-box__show-box__review-box__review
                  .user-show__box__cars__car-box__show-box__review-box__review__user
                    .user-show__box__cars__car-box__show-box__review-box__review__user__image
                      = image_tag review.user.image_user.url
                    %h2= review.user.name
                  .user-show__box__cars__car-box__show-box__review-box__review__comment
                    = review.comment
            .user-show__box__cars__car-box__show-box__requests
              %h3 リクエスト
              - car.requests.each do |request|
                .user-show__box__cars__car-box__show-box__requests__request
                  .user-show__box__cars__car-box__show-box__requests__request__user
                    .user-show__box__cars__car-box__show-box__requests__request__user__image
                      = image_tag request.user.image_user.url
                    .user-show__box__cars__car-box__show-box__requests__request__user__name
                      %h2= request.user.name
                      %p= request.tel
                  .user-show__box__cars__car-box__show-box__requests__request__show
                    .user-show__box__cars__car-box__show-box__requests__request__show__box
                      %h1 期間：
                      %h1= request.start_rent
                      %h2 ~
                      %h1= request.end_rent
                    .user-show__box__cars__car-box__show-box__requests__request__show__box
                      %h1 行先：
                      %h1= request.place
                    .user-show__box__cars__car-box__show-box__requests__request__show__box
                      %h1 コメント：
                      %h1= request.text
                    .user-show__box__cars__car-box__show-box__requests__request__show__box
                      = link_to "トークへ", "/requests/#{request.id}"
    = link_to "ユーザー情報編集", edit_user_registration_path(current_user)
  