.car-new
  .car-new__box
    %h1 車の情報を入力
    .car-new__box__in
      = form_for @car do |f|
        .car-new__box__in__image
          %p 画像を添付
          = f.fields_for :images do |c|
            .car-new__box__in__image__field-box
              = c.file_field :image_car, class: "car-new__box__in__image__field-box__field"
        .car-new__box__in__car-text
          %p 車名
          = f.text_field :name, placeholder: "車名を入力", class: "car-new__box__in__car-text__field"
        .car-new__box__in__car-text
          %p メーカー
          = f.text_field :maker, placeholder: "メーカーを入力", class: "car-new__box__in__car-text__field"
        .car-new__box__in__car-select
          %p 期間
          = f.select :period, Car.periods.keys.to_a, {prompt: "期間を選択"}
        .car-new__box__in__car-select
          %p 燃料
          = f.select :gas, Car.gas.keys.to_a, {prompt: "燃料を選択"}
        .car-new__box__in__car-select
          %p タイプ
          = f.select :type, Car.types.keys.to_a, {prompt: "タイプを選択"}
        .car-new__box__in__car-select
          %p ハンドル
          = f.select :handle, Car.handles.keys.to_a, {prompt: "ハンドルを選択"}
        .car-new__box__in__car-text
          %p 定員
          = f.text_field :capa, placeholder: "人数を入力", class: "car-new__box__in__car-text__field"
          = f.label :capa, "人"
        .car-new__box__in__car-text
          %p 都道府県
          = f.text_field :prefecture, placeholder: "都道府県を入力", class: "car-new__box__in__car-text__field"
          %p 市区郡
          = f.text_field :city, placeholder: "市区郡を入力", class: "car-new__box__in__car-text__field"
        .car-new__box__in__car-text
          %p 価格
          = f.label :price, "¥"
          = f.text_field :price, placeholder: "例)10000", class: "car-new__box__in__car-text__field"
        .car-new__box__in__submit
          = f.submit "編集", class: "car-new__box__in__submit__button"