.car-show
  .car-show__box
    .car-show__box__images
      .car-show__box__images__main
        = image_tag @image[0].image_car.url, class: "car-show__box__images__main__image"
      .car-show__box__images__sub
        - @image.each do |image|
          = image_tag image.image_car.url, class: "car-show__box__images__sub__image"
    .car-show__box__price-name
      %ul
        %li
          ¥
          = @car.price
        %li
          %h1
            = @car.name
            |
            = @car.maker
    .car-show__box__car-show
      - if user_signed_in?
        - if current_user.already_liked?(@car)
          = button_to "お気に入りを外す", car_like_path(@car), method: :delete, class: "car-show__box__car-show__like"
        - else
          = button_to "お気に入り", car_likes_path(@car), method: :post, class: "car-show__box__car-show__like"
      - else
        = link_to "お気に入り", new_user_session_path, class: "car-show__box__car-show__like"
      .car-show__box__car-show__show-box
        .car-show__box__car-show__show-box__user
          .car-show__box__car-show__show-box__user__image
            = image_tag @car.user.image_user.url
          .car-show__box__car-show__show-box__user__name
            %h1= @car.user.name
            %p ★★★★★
        .car-show__box__car-show__show-box__car
          %h1
            期間
            = @car.period
          %h1= @car.gas
          %h1= @car.type
          %h1= @car.handle
          %h1
            定員
            = @car.capa
            人
    .car-show__box__place
      .car-show__box__place__title
        受け渡し場所：
      %h1
        = @car.prefecture
        = @car.city
    .car-show__box__review-box
      .car-show__box__review-box__box
        %h1= "レビュー#{@reviews.count}件"
        - @reviews.each do |review|
          .car-show__box__review-box__box__review
            .car-show__box__review-box__box__review__user
              .car-show__box__review-box__box__review__user__image
                = image_tag review.user.image_user.url
              %h2= review.user.name
            .car-show__box__review-box__box__review__comment
              = review.comment
      .car-show__box__review-box__write
        - if user_signed_in?
          %h1 レビューを書く
          = form_with(model: [@car,@review], local: true, class: "car-show__box__review-box__write__form" ) do |f|
            .car-show__box__review-box__write__comment
              = f.text_area :comment, size: "80x5"
            .car-show__box__review-box__write__submit
              = f.submit "送信", class: "car-show__box__review-box__write__submit__button"
- if user_signed_in?
  .request
    .request__send
      %h1 リクエスト送信
      = form_with(model: [@car,@request], local: true ) do |f|
        .request__send__box
          .request__send__box__text
            %h2 開始
            = f.text_field :start_rent, size: "18"
          .request__send__box__text
            %h2 終了
            = f.text_field :end_rent, size: "18"
          .request__send__box__text
            %h2 行先
            = f.text_field :place, size: "18"
          .request__send__box__text
            %h2 電話番号
            = f.text_field :tel, size: "18"
          .request__send__box__text
            %h2 コメント
            = f.text_area :text, size: "17x5"
          .request__send__box__submit
            = f.submit "送信", class: "request__send__box__submit__button"
    - if user_signed_in? && current_user.id == @car.user_id
      .request__2
        = link_to "編集", edit_car_path, class: "request__2__btn"
        = link_to "削除", root_path, class: "request__2__btn"