.car-show
  .car-show__box
    .car-show__box__images
      .car-show__box__images__main
        = image_tag @image[0].image_car.url
      .car-show__box__images__sub
        - @image.each do |image|
          = image_tag image.image_car.url
    .car-show__box__price-name
      %ul
        %li
          ¥
          = @car.price
        %li
          %h1
            = @car.name
            |
            = @car.maker
    .car-show__box__car-show
      = link_to "リクエスト", root_path, class: "car-show__box__car-show__request"
      .car-show__box__car-show__show-box
        .car-show__box__car-show__show-box__user
          .car-show__box__car-show__show-box__user__image
            = image_tag @car.user.image_user.url
          .car-show__box__car-show__show-box__user__name
            %h1= @car.user.name
            %p ★★★★★
        .car-show__box__car-show__show-box__car
          %h1
            期間
            = @car.period
          %h1= @car.gas
          %h1= @car.type
          %h1= @car.handle
          %h1
            定員
            = @car.capa
            人
    .car-show__box__place
      .car-show__box__place__title
        受け渡し場所：
      %h1
        = @car.prefecture
        = @car.city
    .car-show__box__review-box
      %h1 レビュー
      - @review.each do |review|
        .car-show__box__review-box__review
          .car-show__box__review-box__review__user
            .car-show__box__review-box__review__user__image
              = image_tag review.user.image_user.url
            %h2= review.user.name
          .car-show__box__review-box__review__comment
            = review.comment
